.nav-top * {
    border : 1px solid #00ff55;
}

.nav-top,
.nav-bottom {
    width:95vw;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.nav-top__start,
.nav-top__mid {
    display: flex;
    flex-grow: 1;
}

.nav-top__end {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 0.5;
}
.nav-top__mid {
    justify-content: center;
}

.btn-group {
    background-color: #fff;
    align-items: center;
    border: 1px solid red;
    border-radius: 10px;
}

.nav-bottom {
    margin: auto;
    display: flex;
}

.paddles {
    position: relative;
}

.paddle-wrapper {
    background-color: red;
    position: absolute;
    height: 4rem;
    top: -16px;
}

.paddle {
    position: relative;
    top:16px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px;
    padding: 5px 8px;
    text-align: center;
}

.paddle-right {
    right:0;
}

.nav-bottom__icons {
    text-align: center;
    justify-content: space-between;
    flex-grow: 4;
    display: flex;
    font-size: 1rem;
    overflow: hidden;
}


.nav-bottom__end {
    display: flex;
    width: 5rem;
    height: 3rem;
    background-color: #ddd;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.nav-bottom {
    color: #5F5F5F;
    margin-top : 10px;
}
