// body * {border : 1px solid #00ff55;}

header {
    background-color: #fff;
}

nav {
    width: 95vw;
    * {
    transition: all .3s;
}
}

.btn-group {
    span:nth-child(odd), span:last-child {
        cursor: pointer;
    }
}
.nav-top {
    height: 80px;
}
.nav-top,
.nav-bottom {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.nav-top__start,
.nav-top__mid {
    display: flex;
    flex-grow: 1;
}

.nav-top__end {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 0.5;
    span {
        display: flex;
    }
    p {
        line-height: 42px;
    }
}

.nav-top__mid {
    justify-content: center;
    padding: 15px 0;
}

.nav-bottom,.nav-bottom__icon-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.nav-bottom__icon-wrapper {
    width: calc(95vw - 90px);
    justify-content: flex-start;
}

.paddle-wrapper {
    position: absolute;
    background-color: #fff;
    height: 3.5rem;
    top: 4px;
    .paddle-btn {
        position: relative;
        top: 12px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 25px;
        padding: 5px 8px;
        text-align: center;
        cursor: pointer;
    }
}
.paddle-rigth__back { left: calc(95vw - 120px); }

.nav-bottom__icons {
    color: #5F5F5F;
    position: relative;
    display: flex;
    font-size: 1rem;
    overflow: hidden;
    text-align: center;
    align-items: center;
    li {
        min-width: 80px;
        cursor: pointer;
        margin: 5px;
    }
    i {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
    div {font-size: 0.8rem;}
}

.nav-bottom__end {
    display: flex;
    min-width: 5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.hidden {
    display: none;
}