/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =========================== */
/* header */
/* =========================== */

a:link {
	text-decoration: none;
}

li {
	cursor: pointer;
}
.bold {
	font-weight: bold;
}
.hidden {
	display: none;
}

.flex {
	display: flex;
	align-items: center;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	font-size: 14px;
}
header {
	background-color: #fff;
}

nav {
	width:100%;
	justify-content: space-between;
	margin:auto;
	padding:20px 80px;
}
.navbar-1, .navbar-2 {
	position: relative;
	align-items: center;
	max-width: 1760px;

}

.navbar-1 {
	align-items: flex-start;
}
.navbar-1 {
	align-items: flex-start;
}

.paddle {
	position: absolute;
	top: 36px;
	bottom: 0;
	width: 3em;
	background-color: #fff;
	border:0.5px solid #eee;
	border-radius: 25px;
	height: 42px;
}
.paddle-back {
	position: absolute;
	height: 80px;
	top: 15px;
	bottom: 0;
	width: 3em;
	background-color: #fff;
}

.paddles span:first-child{
	box-shadow: 10px 0px 20px #fff;
}
.paddles span:nth-child(3){
	box-shadow: -10px 0px 20px #fff;
}

.left-paddle {
	z-index: 1;
	left: 80px;
}
.right-paddle {
	z-index: 1;
	right: 190px;
}

#logo{
	display: flex;
	color: rgb(255,70,103);
	font-weight: bold;
	font-family: 'GmarketSansMedium';
	align-items: center;
	margin-right: 100px;
}
.group-btn li {
	padding: 5px 15px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.group-btn li:nth-child(2){
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.filter {
	border: 1px solid #eee;
	padding: 20px;
	border-radius: 15px;
	white-space: nowrap;
}

.nav-end {
	display: flex;
}

.nav-end > i {
	margin: 0 10px 0 0;
	font-size: 20px;
}

.filter > i {
	font-size: 20px;
	padding: 5px;
}

.filter span {
	margin: 0 5px;
}

#logo i {
	margin-right: 5px;
	font-size: 35px;
}

#logo div {
	font-size: 20px;
}

.divider{
	height: 1px;
	background-color: #eee;
}

.nav-border {
	padding: 20px;
	border-radius: 50px;
	background-color: transparent;
	color:#000;
	border: none;
	box-shadow: none;
	cursor: pointer;
	white-space: nowrap;
}

.nav-border:hover{
	background-color: #f7f7f7;
	color:#000;
}

/* .nav-border:focus, */
.nav-border:active:focus {
	outline: none;
	box-shadow: none;
	border: none;
	color:#000;
	background-color: #f7f7f7;
}

#search {
	padding: 9px;
	font-size: 13px;
	background-color: rgb(255,70,103);
	border-radius: 50%;
	color:#fff;
}
.round-wrap, .round-wrap2{
	white-space: nowrap;
	padding: 10px;
	border:1px solid #eee;
	border-radius: 35px;
	box-shadow: 2px 5px 10px -10px #333;
}
.round-wrap2{
	background-color: transparent;
	padding: 10px 20px;
	margin-left: 10px;
}
.btn-check:focus+.btn, .btn:focus{
	outline: 0;
	box-shadow: 2px 5px 10px -10px #333;
}

.btn-close{
	text-align: start;
}

.nav-toggle{
	transition: 0.25s;
}

.nav-toggle ul {
	display: flex;
	justify-content: space-around;
	margin: 10px auto 20px auto;
	font-size: 16px;
}

.nav-toggle  li {
	padding:10px;
	border-bottom:2px solid #fff;
	transition: .25s linear;
}
.nav-toggle  li:hover,
.nav-toggle li:active {
	color:#868686;
	border-bottom:2px solid #000;
}

.dropdown-menu {
	border-radius: 20px;
	border:none;
	box-shadow: 0px -3px 15px #00000015;
}

.nav-2-icons {
	display: grid;
	grid-auto-flow: column;
	overflow: hidden;
}

.nav-2-icons i{
	font-size: 20px;
	padding: 5px 20px 10px 20px;
	margin: 10px;
	align-items: center;
}

.nav-2-icons span{
	font-size: 12px;
	text-align: center;
	display: block;
	padding-bottom: 5px;
}


.dropdown-item {
	padding: 15px 10px;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: #f7f7f7;
}

.modal-header {
	display: block;
}

.modal-text1 {
	padding:5px;
	margin-top: 40px;
}

.modal-text1 > span {
	margin-right:20px;
}

.modal-text2 {
	width: 400px;
	padding:10px;
	background-color: #f7f7f7;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	margin:20px 0 10px 10px;
}
.modal-text3 {
	width: 400px;
	padding:10px;
	margin:30px 0 10px 10px;
	font-size: 20px;
	font-weight: bold;
}

#translate div {
	margin:5px;
	padding:5px;
}

#translate div:first-child{
	font-size: 18px;
	margin-right: 5px;
}

.modal-dialog,
.modal-content {
	border-radius: 25px;
}



@media (min-width: 576px){
.modal-dialog {
    max-width: 900px;
    margin: 60px auto;
}}



/* =========================== */
/* main */
/* =========================== */