/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =========================== */
/* header */
/* =========================== */

a:link {
	text-decoration: none;
}

li {
	cursor: pointer;
}
.text__1 {
	font-weight: bold;
}
.hidden {
	display: none;
}

.flex {
	display: flex;
	align-items: center;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	font-size: 14px;
}
header {
	background-color: #fff;
}

nav {
	width:100%;
	justify-content: space-between;
	margin:auto;
	padding:20px 80px;
}
.nav-top {
	position: relative;
	align-items: center;
	max-width: 1760px;
	display: flex;
	justify-content: space-between;
}

.paddle {
	position: absolute;
	top: 36px;
	bottom: 0;
	width: 3em;
	background-color: #fff;
	border:0.5px solid #eee;
	border-radius: 25px;
	height: 42px;
}
.paddle-back {
	position: absolute;
	height: 80px;
	top: 15px;
	bottom: 0;
	width: 3em;
	background-color: #fff;
}

.paddles span:first-child{
	box-shadow: 10px 0px 20px #fff;
}
.paddles span:nth-child(3){
	box-shadow: -10px 0px 20px #fff;
}

.left-paddle {
	z-index: 1;
	left: 80px;
}
.right-paddle {
	z-index: 1;
	right: 190px;
}

#logo{
	display: flex;
	color: rgb(255,70,103);
	font-weight: bold;
	font-family: 'GmarketSansMedium';
	align-items: center;
}
.btn-group {
	background-color: transparent;
}
.btn-group button {
	height: 55px;
	background-color: transparent;
	padding: 0.5rem 1rem;
	box-shadow: none;
}
.filter__1 {
	border: 1px solid #aaa;
	padding: 16px;
	border-radius: 40px;
	white-space: nowrap;
	font-size: 12px;
	font-weight: bold;
}
.filter__2 {
	border: 1px solid #eee;
	padding: 20px;
	border-radius: 15px;
	white-space: nowrap;
}

.nav-end {
	display: flex;
	align-items: center;
}

.nav-end > i {
	margin: 0 10px 0 0;
	font-size: 20px;
}

.filter__2 > i {
	font-size: 20px;
	padding: 5px;
}

.filter__2 span {
	margin: 0 5px;
}

#logo i {
	margin-right: 5px;
	font-size: 35px;
}

#logo div {
	font-size: 20px;
}

.divider{
	height: 1px;
	background-color: #eee;
}

.nav-border {
	padding: 20px;
	border-radius: 50px;
	background-color: transparent;
	color:#000;
	border: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
	white-space: nowrap;
}

.nav-border:hover{
	border:none;
	outline: none;
	background-color: #f7f7f7;
	color:#000;
}

.nav-border:active:focus {
	outline: none;
	box-shadow: none;
	border: none;
	color:#000;
	background-color: #f7f7f7;
}

#search {
	margin-left: 10px;
	padding: 9px;
	font-size: 13px;
	background-color: rgb(255,70,103);
	border-radius: 50%;
	color:#fff;
}

.round-wrap__1 {
	white-space: nowrap;
	padding: 10px;
	border:1px solid #eee;
	border-radius: 35px;
	box-shadow: 2px 5px 10px -10px #333;
	align-items: center;
	display: flex;
}

.round-wrap__2 {
	display: flex;
	white-space: nowrap;
	padding: 10px;
	border:1px solid #eee;
	border-radius: 50px;
	box-shadow: 2px 5px 10px -10px #333;
	align-items: center;
}

.round-wrap__3 {
	white-space: nowrap;
	border-radius: 35px;
	align-items: center;
	padding: 20px;
}
.round-wrap__3:last-child {
	display: flex;
}

.round-wrap__3 #search {
	margin-right: 10px;
	padding: 10px;
	border-radius: 20px;
}

.round-wrap__2:last-child {
	white-space: nowrap;
	border-radius: 35px;
	align-items: center;
	display: flex;
	padding: 0;
}

.round-wrap__3:hover {
	background-color: #eee;
}

.btn-check:focus+.btn, .btn:focus{
	outline: 0;
	box-shadow: 2px 5px 10px -10px #333;
}

.btn-close{
	text-align: start;
	margin:10px;
}

.modal-head {
	padding: 1rem 1rem 0 1rem;
}

.modal-body{
	padding: 2rem;
}

.modal-textover {
	color:#868686;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
	transition: 0.2s;
}

.modal-text1 {
	padding-top: 2rem;
	padding-bottom: 0.5rem;
}

.modal-textover:hover {
	background-color: #eee;
	color:#000;	
}

.modal-divider{
	margin: 0.5rem 1.5rem;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,.15);
}

.nav-midtop__1{
	align-items: center;
	transition: 0.25s;
	display: flex;
	margin: auto;
}

.nav-midtop__2{
	align-items: center;
	transition: 0.25s;
	display: flex;
	margin: auto;
}

.space-area {
	width: 15rem;
}

.nav-midtop__1 span:not(.divider),
.nav-midtop__3 {
	white-space: nowrap;
	margin: auto;
	font-size: 14px;
	padding: 10px;
	cursor: pointer;
}

.nav-midtop__3 span {
	white-space: nowrap;
	margin-right: 25px;
	padding-bottom: 10px; 
	cursor: pointer;
	font-size: 16px;
	border-bottom: 2px solid #fff;
	transition: 0.25s;
}

.nav-midtop__3 span:hover,
.nav-midtop__3 span:active {
	color: #333;
	border-bottom: 2px solid #333;
}

.dropdown-menu {
	border-radius: 20px;
	border:none;
	box-shadow: 0px -3px 15px #00000015;
}

.nav-2-icons {
	display: grid;
	grid-auto-flow: column;
	overflow: hidden;
}

.nav-2-icons i {
	font-size: 20px;
	padding: 5px 20px 10px 20px;
	margin: 10px;
	align-items: center;
}

.nav-2-icons span {
	font-size: 12px;
	text-align: center;
	display: block;
	padding-bottom: 5px;
}


.dropdown-item {
	padding: 15px 10px;
}

.dropdown-item:focus, .dropdown-item:hover {
	background-color: #f7f7f7;
}

.modal-text2 {
	width: 400px;
	padding: 5px;
	margin:10px 0 10px 0px;
	background-color: #f7f7f7;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center
}
.modal-text3 {
	width: 400px;
	margin: 40px 0 10px 0;
	font-size: 20px;
	font-weight: bold;
}

#translate div {
	margin:5px;
	padding:5px;
}

#translate div:first-child{
	font-size: 18px;
	margin-right: 5px;
}

.modal-dialog,
.modal-content {
	border-radius: 25px;
}

.form-check-input[type=checkbox]{
	width: 4em;
	height: 2em;
	margin-right: 10px;
}
.nav-bottom {
	display: flex;
	justify-content: center
}

.divider {
	height: 80%;
	border-right: 1px solid #eee;
	padding:12px 0;
}

.black-back {
	background-color: #333;

}

@media (min-width: 1100px){
/* 당신의 공간을 에어비앤비하세요 : display: none; */
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 900px;
    margin: 60px auto;
}}



/* =========================== */
/* main */
/* =========================== */